[Unit]
Description=Service to generate a daily report of name days in Sweden.

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/bubba/nameday
ExecStart=/usr/bin/python3 /home/bubba/nameday/names.py

[Install]
WantedBy=multi-user.target